.navbar {
  background-image: linear-gradient(rgb(78, 117, 150), rgb(96, 171, 218));
}
.links {
  height: 8vh;
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: left;
  align-content: center;
  transition: 1s;
  box-shadow: 0 0 1px rgba(8, 8, 15, 0.8);
}
.links:hover {
  cursor: pointer;
  background-color: rgba(8, 8, 15, 0.8);
}
.pisblogo {
  height: 8vh;
  display: flex;
  justify-content: left;
  align-content: center;
  margin-top: 5.9vh;
}
.pageTitle {
  font-size: 30px;
  padding-left: 1vw;
}

.time {
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.colon {
  font-size: 3vh;
  color: white;
}
.circular {
  /* border:2px solid rgb(73, 114, 168); */
  box-shadow: inset 0 0 3px 0 black;
  font-size: 2.7vh;
  border-radius: 0.5vh;
  /* color:rgb(37, 67, 107); */
  color: white;
  width: 4.5vw;
  height: 7.8vh;
  background-color: rgb(32, 28, 44, 0.9);
}
#sec {
  position: absolute;
  top: 29%;
  right: 10%;
}
#hr {
  position: absolute;
  top: 29%;
  left: 9.5%;
}
#min {
  position: absolute;
  top: 29%;
  right: 44%;
}
.selected{
  background-color: rgba(8, 8, 15, 0.8);
}
.sc{
  /* background-color: rgb(15, 19, 37); */
  border-radius:3px;
  box-shadow: inset 0 0 5px #055dd8;
  color:rgb(246, 249, 255);
  background-color: rgba(30, 35, 39, 0.87);
}