@font-face {
  font-family: Montserrat;
  src: url(/Montserrat.otf);
}

.teamParent {
  height: 100vh;
  background-image: url("/final.svg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.playerParent {
  height: 100vh;
  background-image: url("/final.svg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.container-fluid {
  font-family: Montserrat;
  background-image: linear-gradient(rgb(109, 170, 218), rgb(155, 218, 223));
}

.inst {
  margin-top: -30vh;
  border-radius: 10px;
  width: 70vw;
  height: 50vh;
  background-color: #294961;
  box-shadow: -4px -4px 15px rgba(155, 218, 223, 1),
    4px 4px 15px rgba(41, 73, 97, 0.521);
}

.nextButton {
  height: 10vh;
  width: 70vw;
}

.instHeader {
  color: rgb(90, 90, 90);
  display: flex;
  justify-content: center;
  padding-top: 7px;
  font-size: 30px;
  margin-bottom: 0;
  width: 70vw;
  height: 10vh;
  border-radius: 10px;
  background-color: rgb(223, 241, 255);
  box-shadow: -2px -2px 10px rgba(255, 255, 255, 1),
    4px 4px 15px rgba(0, 0, 0, 0.1);
}

.list {
  color: white;
  font-size: 20px;
  padding-top: 2vh;
  margin-left: 3vw;
  padding-left: 0;
}

.start {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans";
  color: white;
  font-size: 40px;
  margin-top: -1vh;
  display: flex;
  justify-content: center;
}

.textt {
  color: aliceblue;
  display: flex;
  justify-content: center;
  margin-top: 20vh;
}

.toCode {
  font-size: 20px;
  outline: none;
  border: none;
  background-color: white;
  height: 5vh;
  width: 10vw;
  border-radius: 10px;
  box-shadow: -1px -1px 5px rgba(255, 255, 255, 1),
    4px 4px 10px rgba(0, 0, 0, 0.514);
  transition: 0.5s ease-out;
}

.toCode:hover {
  background-color: rgb(3, 169, 244);
  color: white;
  transition: 0.5s ease-out;
  box-shadow: -1px -1px 5px rgb(168, 227, 255),
    4px 4px 10px rgba(1, 46, 66, 0.582);
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
