.CPPQuestionLinks {
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 0;
  padding-left: 1vw;
  list-style: none;
  text-align: center;
}

.CodeMirror-linenumbers {
  background-color: rgba(9, 15, 20, 0.65);
  width: 3vw;
}

input[type="file"] {
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

input[type="file"] + label {
  background-color: rgba(50, 55, 60, 0.993);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 1vh;
  margin-left: -5vw;
  width: 10vw;
  outline: none;
  text-align: center;
  height: 4.8vh;
}

input[type="file"] + label:hover {
  /* text-shadow: 1px 1px black; */
  background-color: rgb(38, 40, 41);
}

.CodeMirror {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  font-size: 2.3vh;
}

.CPPQuestion {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  width: 20vw;
  margin-top: 1vh;
  color: antiquewhite;
}
.CPPQuestionLinks li {
  height: 5vh;
  width: 7vw;
  padding-top: 7px;
  cursor: pointer;
  display: block;

  align-items: center;
  /* box-shadow: 3px 3px 15px rgba(92, 91, 91, 0.5); */
  transition: 0.3s;
}
.black:hover {
  font-weight: bold;
  background-color: #343a40;
  transition: 0.15s;
  /* color: rgba(8, 8, 15, 0.8); */
}

.CLang {
  margin-left: 2vw;
}

.CDiv {
  margin-top: -0.5vh;
  height: 5vh;
  border-right: 1px solid #33383d;
}

.CppDiv {
  margin-top: -0.5vh;
  height: 5vh;
}

.orange {
  border-top: 4px solid #f08e1a;

  background-color: #343a40;
}

.black {
  border-top: 4px solid rgba(42, 42, 65, 0.8);
  background-color: #1a1d20;
}
