.CPPQuestionLinks {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 0;
    padding-left: 1vw;
    list-style: none;
    text-align: center;
}

.CPPQuestion {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    width: 20vw;
    margin-top: 1vh;
    color: antiquewhite;
}
.CPPQuestionLinks li {
    height: 5vh;
    width: 10vw;
    padding-top: 7px;
    cursor: pointer;
    display: block;
    background-color: rgba(8, 8, 15, 0.8);
    align-items: center;
    box-shadow: 3px 3px 15px rgba(92, 91, 91, 0.5);
    transition: 0.3s;
}
.CPPQuestionLinks li:hover {
    font-weight: bold;
    background-color: rgba(213, 227, 253, 0.897);
    transition: 0.15s;
    color: rgba(8, 8, 15, 0.8);
}